
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; 
}
a {
    text-decoration: none;
    cursor: pointer;
}
header {
    width: 100%;
    height: 100px;
    text-align: center;
}
header h1 {
    margin-top: 50px;
    font-size: 3rem;
}
header p {
    font-size: 1.6rem;
}
 .main-list {
    width: 530px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
 .main-list ul {
    list-style: none;
    font-size: 1.6rem;
}
 .main-list p {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: #54595d;
}
 .main-list li {
    text-align: center;
    
}
 .main-list a {
    font-weight: bold;
    color: #3366cc;
}
 .section2 img {
    width: 250px;
    padding-left: 20px;
    padding-right: 20px;
}
 .main-input {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;

}
 .main-input-container {
    width: 525px;
    border: 1px solid #aeb4bb;
    display: flex;
    justify-content: center;
    align-items: center;   
}
 .main-input input {
    width: 450px;
    height: 40px;
    border: none;
    outline: none;
}

 .main-input .micro-icon {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/716px-Google_mic.svg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    cursor: pointer;
}





