
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; 
}
a {
    text-decoration: none;
    cursor: pointer;
}
header {
    width: 100%;
    height: 100px;
    text-align: center;
}
header h1 {
    margin-top: 50px;
    font-size: 3rem;
}
header p {
    font-size: 1.6rem;
}
main .main-list {
    width: 530px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
main .main-list ul {
    list-style: none;
    font-size: 1.6rem;
}
main .main-list p {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: #54595d;
}
main .main-list li {
    text-align: center;
    
}
main .main-list a {
    font-weight: bold;
    color: #3366cc;
}
main .section2 img {
    width: 250px;
    padding-left: 20px;
    padding-right: 20px;
}



